	
	
	
	.center {
margin-top: -60px;
    margin-right: 800px;
  margin-left: 780px;
  width: 70%;


}



.airton{
	
	margin-top: 50px;
  margin-left: 500px;
  margin-right: 400px;
  
	
}


.hakkinen{
	  float: right;
	margin-top: -210px;
  margin-left: 350px;
  margin-right: 450px;
  
	
}
